.text-bg-dark {
    color: black;
    background-color: black;
    padding: 30px;
    border-radius: 30px;
    border-color: black;
    border-width: 30px;
    border-right: 30px;
    border-style: solid;
    margin: 50px;
    font-family: fantasy;
    font-size: x-small;
  }
#casa{
    color: black;
}
#capitulos{
    color: black;
}
#personajes{
    color: black;
}
.card{
    background-color: black;
    color: black;
    border-radius: 30px;
    border-color: black;
    border-width: 30px;
    border-right: 30px;
    border-style: solid;
    margin: 50px;
    font-family: fantasy;
    font-size: small;
}
.card-body{
    color: black;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: rgb(251,238,63);
    background: radial-gradient(circle, rgba(251,238,63,1) 0%, rgba(255,0,0,1) 100%);
    border: none;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
.card-body:hover{
    background: rgb(251,238,63);
    background: radial-gradient(circle, rgba(251,238,63,1) 0%, rgba(255,0,0,1) 100%);
    box-shadow: 0 0 0 rgba(79, 209, 197, .64);
    transform: scale(1.1);
}
.card-body:active{
    background: rgb(251,238,63);
    background: radial-gradient(circle, rgba(251,238,63,1) 0%, rgba(255,0,0,1) 100%);
    box-shadow: 0 0 0 rgba(79, 209, 197, .64);
    transform: scale(1.1);
}
.card-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(251,238,63);
    background: radial-gradient(circle, rgba(251,238,63,1) 0%, rgba(255,0,0,1) 100%);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s;
}
.card:hover::before,
.card:focus::before {
    opacity: 1;
}
.card-body:after{
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid #00ffdd;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring .7s infinite;
}
.card:hover::after,
.card:focus::after {
    animation: none;
    display: none;
}
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
.card img{
    color: aliceblue;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: rgb(251,238,63);
    background: radial-gradient(circle, rgba(251,238,63,1) 0%, rgba(255,0,0,1) 100%);
    border: none;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
.card-title{
    color: black;
    margin: 10px;
    font-family: fantasy;
    font-size: x-large;
    position: center;
}
#alerta{
    background-image: url("fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
color: white;
}
#link1{
    color: white;
}